<!--
 * @Description: 
 * @Version: 1.0
 * @Autor: z.cejay@gmail.com
 * @Date: 2022-10-12 04:15:03
 * @LastEditors: cejay
 * @LastEditTime: 2022-10-18 18:58:44
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="row">
    <div>
      <input #greetInput id="greet-input" placeholder="Enter a name..." />
      <button type="button" (click)="greet(greetInput.value)">Greet</button>
    </div>
  </div>

  <p>{{ greetingMessage }}</p>
  <app-explore-container name="Tab 1 page">

  </app-explore-container>
</ion-content>